.inputContainer {
	width: 100%;
}

.inputContainer > input {
	width: 100%;
	margin-bottom: 0.6rem;
	border: 1px solid #e5e5e4;
	padding: 1rem;
}

.inputContainer > input::placeholder {
	color: #b2b2b2;
}

.sm {
	height: 2rem;
}

.md {
	height: 3rem;
}

.lg {
	height: 4rem;
}

.error {
	font-size: 1.1rem;
	font-weight: 600;
	color: red;
}
