.btn {
  padding: 0.8rem;
  background-color: var(--off-grey-mid);
  border: none;
  font-size: 14px;
  font-weight: 600;
}

.roundBtn {
  display: flex;
  border-radius: 50%;
  padding: 1rem;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .btn {
    width: 100%;
    font-size: 12px;
  }
}
