.btn {
	padding: 0.8rem;
	border: none;
	font-size: var(--font-size-md);
	width: 100%;
}

.btnDefault {
	background-color: var(--secondary-color);
	transition: background-color 0.2s linear;
}

.btnPrimary {
	background-color: var(--primary-color);
	color: var(--white);
	transition: background-color 0.2s linear;
}

.btnDefault:hover {
	background-color: var(--secondary-color-mid);
	cursor: pointer;
}

.btnPrimary:hover {
	background: var(--primary-color-mid);
	cursor: pointer;
}

.roundBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 1rem;
}

.roundBtn__sm {
	width: 3rem;
}

.roundBtn__md {
	width: 4rem;
}

.roundBtn__lg {
	height: 6rem;
	width: 6rem;
}

.btn__sm {
	height: 3rem;
}

.btn__md {
	height: 4rem;
}
