@import "../../../../styles/_mixins.scss";

.noQRCodeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60%;
	color: #fff;

	& > img {
		margin-bottom: 10px;
	}

	& > p,
	span {
		font-size: 1.5rem;
	}
}

.qrCodesContainer {
	margin-top: 1rem;
	height: 100%;
	padding: 0 1rem;
}

.qrGridWrapper {
	display: grid;
	grid-template-rows: repeat(4, 200px);
	grid-template-columns: repeat(4, 1fr);
	max-height: 400px;
	overflow: auto;
	overflow-x: hidden;
	color: #8e8e8e;
}

.inputGroup {
	display: flex;
	width: 300px;

	& > button {
		margin-left: 10px;
	}
}

.inputGroup input {
	border-radius: 7px;
	color: #bbb;
	background: rgba(53, 53, 67, 0.98);
	//border-color: rgba(45, 45, 57, 0.98);
	box-shadow: rgba(43, 40, 40, 0.45) 0px 5px 15px;
}

.btn {
	width: 15rem;
	background-color: #ff3166;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
		0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
		0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.btn:hover {
	background-color: #cf516f;
}

.btn:active {
	@include active-btn(#b23a5a);
}
