.contacts_section {
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}

.contacts_section span {
	font-size: 12px;
}

.contact_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 0;
}

.contact_row i {
	padding: 0 15px 0;
	padding-left: 0;
	font-size: 18px;
}

.contacts_section__social {
	text-align: center;
	padding: 20px 0 25px;
}

.contacts_section__social a {
	color: #fff;
	font-size: 1.4em;
	/*border-radius: 50%;*/
	height: 1.8em;
	width: 1.8em;
	margin: 0 10px;
	display: inline-block;
	line-height: 2em;
	text-align: center;
	position: relative;
	-webkit-transition: border-color 0.3s;
	/*transition: border-color .3s;*/
	transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: baseline;
}

.contacts_section__social a:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
	-ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
	transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.contacts_section__social a:hover {
	color: #ff6243;
}

.contacts_section__social a:hover::before {
	border: 1px solid #ff6243;
	color: #ff6243;
}
