.container {
	display: flex;
	align-items: center;
	margin-bottom: 2.6rem;

	.imgWrapper {
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
		background-color: rgba(232, 201, 197, 0.4);
		border: 1px solid rgba(255, 255, 255, 0.07);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1.6rem;

		img {
			width: 45%;
			height: 45%;
		}
	}

	.text {
		h3 {
			font-size: 1.6rem;
			font-weight: 600;
			line-height: 1.6;
			margin-top: 0.4rem;
			margin-bottom: 0;
		}

		p {
			font-size: 1.4rem;
			line-height: 1.6;
			color: var(--off-grey);
		}
	}
}
