@import "../../../../styles/_mixins.scss";

.main {
	display: flex;
	height: 100%;

	.container {
		overflow-y: auto;
		h2 {
			color: #fff;
		}

		&.fullWidth {
			width: 100%;
		}

		&.shortWidth {
			width: 80%;
		}
	}

	.creatorForm {
		flex-basis: 22%;
		right: 0;
		transform: translateX(100%);
		transition: transform 0.3s ease, opacity 0.3s ease;
		display: none;
		height: 100%;
		padding-left: 2rem;
		padding-right: 2rem;
		box-shadow: 0px -3px 19px -6px rgba(0, 0, 0, 0.55);
		-webkit-box-shadow: 0px -3px 19px -6px rgba(0, 0, 0, 0.55);
		-moz-box-shadow: 0px -3px 19px -6px rgba(0, 0, 0, 0.55);

		.header {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}

		@media (max-width: 768px) {
			flex-basis: unset;
			width: 100%;
			position: absolute;
			z-index: 4;
			background: linear-gradient(
				95deg,
				rgb(29, 29, 37, 50) 70%,
				rgb(57, 57, 57) 100%
			);
		}

		&.visible {
			transform: translateX(0);
			display: block;
		}

		&.hidden {
			transform: translateX(100%); // Slide out
			display: none;
		}

		h2 {
			color: #fff;
		}

		form {
			input,
			textarea,
			select {
				border-radius: 7px;
				color: #bbb;
				background: rgba(53, 53, 67, 0.98);
				border-color: rgba(45, 45, 57, 0.98);
				box-shadow: rgba(43, 40, 40, 0.45) 0px 5px 15px;
				max-width: 25rem;
			}

			select {
				font-size: 1.4rem;
			}

			.btn {
				width: 15rem;
				background-color: #ff3166;
				color: #fff;
				border: none;
				padding: 10px;
				margin-top: 1rem;
				border-radius: 5px;
				cursor: pointer;
				font-size: 14px;
				transition: background-color 0.3s;
				box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
					0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
					0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
			}

			.btn img {
				margin-right: 5px;
			}

			.btn:active {
				@include active-btn(#b23a5a);
			}
		}
	}

	@media (max-width: 768px) {
		// background-color: #b23a5a;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-right: 3rem;

	@media (max-width: 768px) {
		padding-right: 0%;
	}

	.toggleButton {
		width: 12rem;
		font-size: 1.4rem;
		color: #fff;
		border: 1px solid #3e3e3e;
		border-radius: 0.5rem;
		background-color: inherit;
		cursor: pointer;
		box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
			0 1px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
			0 4px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
	}

	.toggleButton:hover {
		background-color: #3e3e3e;
	}

	.btnContainer {
		display: flex;
		align-items: center;

		.btnSecondary {
			width: 10rem;
			font-size: 1.2rem;
			color: #fff;
			border: 1px solid #3e3e3e;
			border-radius: 0.5rem;
			background-color: inherit;
			cursor: pointer;
		}

		.btnSecondary:hover {
			background-color: #3e3e3e;
		}
	}
}

.btn {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ff3166;
	color: #fff;
	width: 7rem;
	border-radius: 0.5rem;
	cursor: pointer;

	@media (max-width: 768px) {
		width: 100%;
		font-size: 1rem;
	}
}

.uploadText {
	color: #fff;
	margin-bottom: 0.5rem;
}

.uploadButtonsContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 2.5rem;
	color: #fff;
}

.fileInput {
	display: none;
}

.uploadButton {
	width: 14rem;
	font-size: 1.2rem;
	color: #fff;
	height: 3rem;
	padding: 0.5rem;
	margin-right: 1rem;
	text-align: center;
	border: 1px solid #3e3e3e;
	border-radius: 0.5rem;
	background-color: inherit;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
		0 1px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
		0 4px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

	&:hover {
		background-color: #3e3e3e;
	}

	&:active {
		scale: 0.95;
		box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
			0 1px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
			0 4px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
	}
}

.uploadNote {
	color: rgba(232, 201, 197, 0.4);
}

.formContainer {
	form {
		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
	}
}

.confirmModal {
	width: 35%;

	.body {
		height: 15rem;
		padding: 2rem;

		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-right: 0;

			h3 {
				margin-top: 0;
				color: #fff;
			}

			.closeBtn {
				@include btn-secondary();
			}
		}

		.footer {
			display: flex;
			align-items: center;

			.primaryBtn {
				width: 10rem;
				margin-left: 2rem;
				@include btn-primary();
			}

			.secondaryBtn {
				width: 10rem;
				@include btn-secondary();
			}
		}
	}
}
