.inputContainer {
	display: flex;
	align-items: center;
	font-size: var(--font-size-lg);
}

.btn {
	height: 3.6rem;
	width: 5rem;
	border: 1px solid var(--off-grey-light);
	font-size: var(--font-size-xlg);
	cursor: pointer;
	color: inherit;
	background: var(--secondary-color);
}

.btn:first-child {
	border-top-left-radius: 1.6rem;
	border-bottom-left-radius: 1.6rem;
	border-right-color: var(--secondary-color-mid);
}

.btn:last-child {
	border-top-right-radius: 1.6rem;
	border-bottom-right-radius: 1.6rem;
	border-left-color: var(--secondary-color-mid);
}

.btn:hover {
	background-color: var(--secondary-color-mid);
}

.btn:hover {
	background-color: var(--secondary-color-mid);
}

.btn > svg {
	vertical-align: middle;
}

.valueContainer {
	display: inline-block;
	border: 1px solid var(--off-grey-light);
	padding: 0.8rem 1rem;
	width: 5rem;
	height: 3.6rem;
	text-align: center;
	background: var(--secondary-color);
	cursor: default;
}
