.pricing {
	position: relative;
	display: block;
	text-align: center;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
	background-color: #fff;
	z-index: 11;
	margin: 15px auto;
	width: 350px;
	transition: all 0.4s ease-in-out;
	border-top: 4px solid #f05f40;
	box-shadow: var(--card-box-shadow);
}

.pricing_popular {
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 32px;
	right: 0;
	background: #f05f40;
	color: #fff;
	padding: 2px 8px;
	position: absolute;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	letter-spacing: 0.1em;
}

/*.pricing:hover {*/
/*border-top: 4px solid #f05f40;*/
/*transform: scale(1.1);*/
/*cursor: pointer;*/
/*}*/

/*.pricing:hover .price{*/
/*background-color: #f05f40;*/
/*color: #fff;*/
/*}*/

.pricing .submit_button {
	color: #fff;
	background-color: #f05f40;
}
/*.pricing:hover .submit_button{*/
/*background-color: #f05f40;*/
/*color: #fff;*/
/*}*/
/*.pricing:hover .duration{*/
/*color: #fff;*/
/*}*/

.pricing_head {
	position: relative;
	margin-bottom: 20px;
	background: rgb(214, 214, 214);
	background: linear-gradient(
		180deg,
		rgba(214, 214, 214, 0.929030987394958) 24%,
		rgba(154, 198, 219, 0.8562018557422969) 83%,
		rgba(142, 183, 202, 0.9206276260504201) 98%
	);
}

.pricing .price_title {
	display: block;
	padding: 40px 0px 20px;
	text-transform: uppercase;
	-webkit-transition: 0.2s color;
	transition: 0.2s color;
	font-weight: 700;
}

.pricing .price {
	position: relative;
	width: 160px;
	height: 160px;
	line-height: 140px;
	text-align: center;
	margin: auto;
	border-radius: 50%;
	border: 1px solid #f05f40;
	background-color: #f05f40;
}

.pricing:hover .price {
}

.pricing .price h4 {
	font-size: 25px;
	margin: 0px;
	-webkit-transition: 0.2s color;
	transition: 0.2s color;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
}

.pricing .duration {
	display: block;
	font-size: 13px;
	padding-top: 10px;
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: 0.2s color;
	transition: 0.2s color;
}

.pricing .pricing_content {
	margin: 0;
	padding: 10px 20px;
	list-style: none;
}

.pricing .pricing_content li {
	margin: 0 0 20px;
}

.pricing .pricing_content hr {
	border-width: 0.2rem;
	max-width: 50px;
}

.pricing .pricing_content p {
	font-size: 1.2rem;
}

.pricing .submit_button {
	margin: 15px 0 30px;
	outline: none;
}

.pricing .submit_button:focus {
	color: #f05f40;
	outline: none;
}
