.layout {
    height: 100%;
}

.main {
    height: calc(100vh - 56px);
    background: var(--off-grey-light);
}

.header, .footer {
    color: var(--off-white);
    background-color: var(--dark);
}

.header {
    padding: 1rem;
    position: sticky; 
    top: 0;
    z-index: 1000;
    /* position: fixed; */
}

.footer {
    text-align: center;
}

.company {
    margin: 0 auto;
    padding: 1rem 0;
}

@media (min-width: 300px) and (max-width: 1200px) {
    .main {
        height: 100%;
    }
  }