.header,
.footer {
  height: var(--header-height);
  color: var(--off-white);
  background-color: var(--dark);
}

.header {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.footer {
  text-align: center;
}

.company {
  margin: 0 auto;
  padding: 1rem 0;
}
