.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #eaeaeadc;
    transition: 0.3s;
    border-radius: 3px; /* 5px rounded corners */
    background-color: #fff;
}

.cardTitle {
    font-weight: 600;
}

.content {
    padding: 8px;
}