.asideContent {
	flex-basis: 10%;
	border-right: rgba(214, 214, 214, 0.67) 1px solid;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 40px auto;
	}
}
