.wrapper {
	text-align: right;
	margin: 0 3% auto;
	padding: 1.6rem 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.tabs {
	margin-top: 7px;
	font-size: 14px;
	padding: 0px;
	list-style: none;
	background: transparent;
	/*box-shadow:0px 5px 20px rgba(0,0,0,0.1);*/
	display: inline-block;
	/*border-radius:50px;*/
	position: relative;
	text-decoration: none;
	font-family: "Dosis", sans-serif;
}

.tabs li {
	list-style: none;
	//color: black;
	padding: 10px 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	transition-duration: 0.6s;
	font-weight: 600;
	outline: none;
	text-decoration: none;
}

.tabs li.active {
	color: black;
	font-weight: 600;
	outline: none;
	text-decoration: none;
}

.tabs li i {
	margin-right: 5px;
	color: #ffffff;
	font-weight: 600;
}

.tabs li a {
	/* color: #ffffff !important; */
	font-weight: 500;
}

.tabs li a:hover {
	/*color: #f05f40 !important;*/
	/*font-weight: 700;*/
	cursor: pointer !important;
	outline: none;
	text-decoration: none;
	/*text-decoration: underline !important;*/
}

.tabs a {
	padding: 10px 10px;
	color: #fff;
}

.tabs a::before {
	content: "";
	display: block;
	position: absolute;
	bottom: 3px;
	left: 15%;
	height: 3px;
	width: 70%;
	background-color: #fff;
	transform-origin: right top;
	transform: scale(0, 0.5);
	transition: color 0.1s, transform 0.2s ease-out;
}
.tabs a:active::before {
	background-color: #fff;
}
.tabs a:hover::before,
.tabs a:focus::before {
	transform-origin: left top;
	transform: scale(1, 0.5);
}

.btn {
	background-color: #ff3166;
	color: #fff;
	border: none;
	padding: 10px;
	width: 150px;
	border-radius: 50px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: #ff6686;
}
