@mixin desktop() {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin mx-auto() {
	margin-left: auto !important;
	margin-right: auto !important;
}

@mixin active-btn($color) {
	color: #fff;
	background-color: $color;
	border-radius: 0.5rem;
	transform: scale(0.98);
	box-shadow: 0 4px 6px hsl(0deg 0% 0% / 0.2);
	transition: transform 0.1s, box-shadow 0.1s;
}

@mixin btn-primary {
	background-color: #ff3166;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
		0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
		0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

	&:active {
		@include active-btn(#b23a5a);
	}
}

@mixin btn-secondary {
	font-size: 1.2rem;
	color: #fff;
	border: 1px solid #3e3e3e;
	border-radius: 0.5rem;
	background-color: inherit;
	cursor: pointer;

	&:hover {
		background-color: #3e3e3e;
	}
}
