@mixin desktop() {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin mx-auto() {
	margin-left: auto !important;
	margin-right: auto !important;
}

@mixin active-btn($color) {
	background-color: $color;
	transform: scale(0.98);
	box-shadow: 0 4px 6px hsl(0deg 0% 0% / 0.2);
	transition: transform 0.1s, box-shadow 0.1s;
}
