@import "./_mixins.scss";

.main-container {
	height: 100%;
	overflow: hidden;
	background: linear-gradient(
		95deg,
		rgb(29, 29, 37, 0.98) 50%,
		rgb(57, 57, 57) 100%
	);
}

.content {
	display: flex;
	height: 100%;
	border-top: rgba(214, 214, 214, 0.67) 1px solid;
}

.content main {
	padding: 10px 0 10px 30px;
	width: 100%;
}

.profile-btn-container {
	padding: 10px;
}

.profile-btn {
	margin-bottom: 15px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ff3166;
	color: #fff;
}

.profile-btn img {
	margin-right: 5px;
}

.profile-btn:active {
	@include active-btn(#b23a5a);
}
