html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

p,
footer {
  font-size: var(--font-size-md);
}

/* p,
article,
section {
  line-height: 1.5;
} */

* {
  box-sizing: border-box;
}

:root {
  --yellow: rgb(247, 220, 102);
  --green: #3fe79e;
  --grey-blue: #9ac6db;
  --dark: #282d32;
  --off-white: #f5f5f3;
  --off-grey: #555555b6;
  --off-grey-mid: #d6d6d6b0;
  --off-grey-light: #e4e4e480;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-xs: 0.5rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-size-xlg: 1.6rem;

  --header-height: 4.8rem;
}
