*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: "Poppins", sans-serif;
	height: 100%;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	color: var(--dark);
	background-color: var(--white);
}

body > div {
	height: 100%;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}

a {
	color: inherit;
	text-decoration: none;
}

p,
footer {
	font-size: var(--font-size-md);
}

p,
article,
section {
	line-height: 1.5;
}

:focus {
	outline: 0.15rem dashed var(--off-white);
	outline-offset: 0.25rem;
}

/* Main tokens */
:root {
	--grey-blue: #9ac6db;
	--dark: #282d32;
	--off-white: #f5f5f3;
	--off-grey: rgba(255, 255, 255, 0.71);
	--off-grey-mid: #a5a5a5b0;
	--off-grey-light: #e4e4e480;
	--white: #fff;

	/* Main colors */
	--primary-color: #9ac6db;
	--primary-color-mid: #8eb7ca;
	--secondary-color: #d6d6d670;
	--secondary-color-mid: #c5c4c4b0;
	--modal-background-secondary: #1a1a1a;
	--modal-backdrop-background: rgba(0, 0, 0, 0.822);

	--space-sm: 0.5rem;
	--space-md: 1rem;
	--space-lg: 1.5rem;

	--font-size-xs: 0.5rem;
	--font-size-sm: 1rem;
	--font-size-md: 1.2rem;
	--font-size-lg: 1.4rem;
	--font-size-xlg: 1.6rem;

	--footer-height: 4.8rem;

	--card-box-shadow: 7px 5px 35px -19px rgba(209, 209, 211, 1);
}

.faq-style-wrapper {
	margin-top: 2em;
}

.faq-style-wrapper .faq-title {
	font-size: x-large;
}

.faq-style-wrapper .faq-body .faq-row {
	padding: 0.75em 0;
}

.faq-style-wrapper .faq-body .faq-row .row-title {
	font-size: larger;
	color: grey;
}

.faq-style-wrapper .faq-body .faq-row .row-content-text {
	padding: 2em !important;
	font-size: medium !important;
	color: teal !important;
}

.row-option {
	margin-top: 2em;
}

.row-option label {
	font-weight: bold;
	display: block;
	margin-bottom: 0.5em;
}

.row-option input {
	padding: 0.5em;
	width: 2em;
	font-size: 1em;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.row-option button {
	padding: 0.5em 1em;
	margin-left: 1em;
	font-size: 1em;
	border-radius: 4px;
	background-color: #5000ca;
	border: 1px solid;
	color: white;
}

//move to its own style
.reset-link-wrapper {
	display: flex;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.link-btn {
	background: none;
	border: none;
	color: #ff3166;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
	font: inherit;
	height: 0;
	display: inline;
	margin-left: 1rem;
	width: fit-content !important;
}

.link-btn:hover {
	color: #ff6686;
}

.link-btn:focus {
	outline: none;
	color: #ff6686;
	text-decoration: none;
}

.link-btn:active {
	color: #003865; /* Ещё более тёмный цвет при нажатии */
}
