.container {
  max-width: 1200px;
  margin-top: calc(var(--header-height) + 2rem);
  padding: 0 1rem;
}

.categoryContainer {
  margin-top: 3rem;
  border-bottom: 1px solid var(--off-grey-mid);
}

.categoryTitle {
  font-size: 2rem;
  font-weight: 400;
}

.cardsContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.backToTop {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background-color: var(--yellow);
  color: white;
}

.backToTop > svg {
  filter: invert(100%);
}

@media (min-width: 300px) and (max-width: 1200px) {
  .cardsContainer {
    margin: 2rem 0;
  }
}
