.container {
  max-width: 1200px;
  margin-top: calc(var(--header-height) + 2rem);
  padding: 0 1rem;
}

.categoryContainer {
  margin-top: 2rem;
  border-bottom: 1px solid var(--off-grey-mid);
}

.categoryTitle {
  font-size: 2rem;
  font-weight: 400;
}

.cardsContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.floatBtn {
  position: fixed;
  right: 3rem;
  background-color: var(--grey-blue);
  color: white;
}

.backToTop {
  bottom: 3rem;
}

.shoppingCart {
  top: 13rem;
  z-index: 900;
}

.floatBtn:hover {
  cursor: pointer;
}

.floatBtn > svg {
  filter: invert(100%);
}

.modalContent {
  border-radius: 0.8rem;
  /* background: var(--dark); */
}

@media (min-width: 300px) and (max-width: 1200px) {
  .cardsContainer {
    margin: 2rem 0;
  }
}

@media (min-width: 650px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
  }

  .cardsContainer {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }

  .categoryContainer {
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--off-grey-mid);
  }

  .categoryTitle {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
