body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  color: #333;
}

.login-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(95deg, rgb(29, 29, 37, 0.98) 50%, rgba(255, 255, 255, 0.07) 100%), url('../src/inline-img/bg-texture.jpg') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(20px);
  color: #fff;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.login-box  .row-input {
  display: flex;
}

.login-box input[type="text"]::placeholder,
.login-box input[type="email"]::placeholder,
.login-box input[type="password"]::placeholder {
  color: #bbb;
}

.logo {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 20px;
}

.input-group {
  min-width: 300px;
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
}

.login-button {
  background-color: #ff3166;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ff6686;
}

.forgot-password {
  display: block;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}