body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  color: #333;
}

.header {
  padding: 20px 30px 20px 30px;
  display: flex;
  align-items: center;
}

.header span {
  font-size: 2rem;
}

.login-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(95deg, rgb(29, 29, 37, 0.98) 50%, rgba(255, 255, 255, 0.07) 100%), url('../src/inline-img/bg-texture.jpg') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(20px);
  color: #fff;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.left-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.form-group {
  max-width: 400px;
  width: 70%;
}

.form-group p {
  color: #8c8c8c;
  font-weight: 700;
}

.login-box a {
  color: rgba(255, 49, 102, 0.74);
}

.login-box .row-input {
  display: flex;
}

.login-box input[type="text"]::placeholder,
.login-box input[type="email"]::placeholder,
.login-box input[type="password"]::placeholder {
  color: rgba(187, 187, 187, 0.4);
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"] {
  color: #bbb;
  background: rgba(53, 53, 67, 0.98);
  border-color: rgba(45, 45, 57, 0.98);
  box-shadow: rgba(43, 40, 40, 0.45) 0px 5px 15px;;
}

.logo {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 20px;
}

.row-input {
  display: flex;
  justify-content: space-between;
}

.input-group, .row-input {
  min-width: 300px;
  margin-bottom: 10px;
}

.input-group input,
.row-input input {
  padding: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.row-input div:first-child {
  margin-right: 10px;
}

.login-button {
  background-color: #ff3166;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ff6686;
}

.forgot-password {
  display: block;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}